{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block style %}
<style type="text/css">
    .form-control{
        width:60%;display: inline-block;
    }
    .form-inline{display: inline;}

    .table tbody tr td{
        vertical-align: middle;
    }
    .table tbody tr td div{
        display: inline;
    }
    .checkbox{
        display: inline;
    }
    .radio{
        display: inline;
    }
    .radio label{
        display: inline;
    }

</style>
{% endblock %}
{% block hidden_username %}{{ username }}{% endblock %}
{% block page_header %}保险订单事项{% endblock %}
{% block content %}
    <div class="box box-primary" style="width: 100%">
        <div class="box-header with-border">
            <h3 class="box-title">保险订单详情</h3>
        </div>
        <div class="box-body">
                {{ form_widget(form.title) }}
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th colspan="3" style="text-align: center;font-size:18px">投保人资料</th>
                    </tr>
                    </thead>
                    <tbody style="vertical-align: middle">
                    <tr>
                        <td>中文姓名：{{ form_widget(form.Insurance.ph_name) }}</td>
                        <td>身份证号码：{{ form_widget(form.Insurance.ph_id_card) }}</td>
                        <td>身份证有效期：{{ form_widget(form.Insurance.ph_id_card_expired_date) }}</td>
                    </tr>
                    <tr>
                        <td>姓名拼音：{{ form_widget(form.Insurance.ph_name_pinyin) }}</td>
                        <td>通行证号码：{{ form_widget(form.Insurance.ph_traffic_permit) }}</td>
                        <td>通行证有效期：{{ form_widget(form.Insurance.ph_traffic_permit_expired_date) }}</td>
                    </tr>
                    <tr>
                        <td>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：{{ form_widget(form.Insurance.ph_gender) }}</td>
                        <td>婚姻状况：{{ form_widget(form.Insurance.ph_marriage) }}</td>
                        <td>是否吸烟：{{ form_widget(form.Insurance.ph_is_smoking) }}</td>
                    </tr>
                    <tr>
                        <td>出生日期：{{ form_widget(form.Insurance.ph_born_date) }}</td>
                        <td>联络电话：{{ form_widget(form.Insurance.ph_tel) }}</td>
                        <td>电子邮箱：{{ form_widget(form.Insurance.ph_email) }}</td>
                    </tr>
                    <tr>
                        <td colspan="3">通讯地址及邮编：{{ form_widget(form.Insurance.ph_address,{'attr':{'style':'width:90%'}}) }}</td>
                    </tr>
                    <tr>
                        <td colspan="3">身份证地址及邮编：{{ form_widget(form.Insurance.ph_id_address,{'attr':{'style':'width:88%'}}) }}</td>
                    </tr>
                    <tr>
                        <td>身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高：{{ form_widget(form.Insurance.ph_height) }}cm</td>
                        <td>体&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重：{{ form_widget(form.Insurance.ph_weight) }}kg</td>
                    </tr>
                    <tr>
                        <td>职业（行业）：{{ form_widget(form.Insurance.ph_profession) }}</td>
                        <td>职位及职责：{{ form_widget(form.Insurance.ph_position) }}</td>
                    </tr>
                    <tr>
                        <td>雇主名称：{{ form_widget(form.Insurance.ph_employer) }}</td>
                        <td>公司地址：{{ form_widget(form.Insurance.ph_company_address) }}</td>
                        <td>公司电话：{{ form_widget(form.Insurance.ph_company_tel) }}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-striped" style="margin-top: 20px">
                    <thead>
                    <tr>
                        <th colspan="3" style="text-align: center;font-size:18px">被保人资料（若投保人与被保人为同一人则不用填写）</th>
                    </tr>
                    </thead>
                    <tbody style="vertical-align: middle">
                    <tr>
                        <td>中文姓名：{{ form_widget(form.Insurance.r_name) }}</td>
                        <td>身份证号码：{{ form_widget(form.Insurance.r_id_card) }}</td>
                        <td>身份证有效期：{{ form_widget(form.Insurance.r_id_card_expired_date) }}</td>
                    </tr>
                    <tr>
                        <td>姓名拼音：{{ form_widget(form.Insurance.r_name_pinyin) }}</td>
                        <td>通行证号码：{{ form_widget(form.Insurance.r_traffic_permit) }}</td>
                        <td>通行证有效期：{{ form_widget(form.Insurance.r_traffic_permit_expired_date) }}</td>
                    </tr>
                    <tr>
                        <td>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：{{ form_widget(form.Insurance.r_gender) }}</td>
                        <td>婚姻状况：{{ form_widget(form.Insurance.r_marriage) }}</td>
                        <td>是否吸烟：{{ form_widget(form.Insurance.r_is_smoking) }}</td>
                    </tr>
                    <tr>
                        <td>出生日期：{{ form_widget(form.Insurance.r_born_date) }}</td>
                        <td>联络电话：{{ form_widget(form.Insurance.r_tel) }}</td>
                        <td>电子邮箱：{{ form_widget(form.Insurance.r_email) }}</td>
                    </tr>
                    <tr>
                        <td colspan="3">通讯地址及邮编：{{ form_widget(form.Insurance.r_address,{'attr':{'style':'width:90%'}}) }}</td>
                    </tr>
                    <tr>
                        <td colspan="3">身份证地址及邮编：{{ form_widget(form.Insurance.r_id_address,{'attr':{'style':'width:88%'}}) }}</td>
                    </tr>
                    <tr>
                        <td>身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高：{{ form_widget(form.Insurance.r_height) }}cm</td>
                        <td>体&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重：{{ form_widget(form.Insurance.r_weight) }}kg</td>
                    </tr>
                    <tr>
                        <td>职业（行业）：{{ form_widget(form.Insurance.r_profession) }}</td>
                        <td>职位及职责：{{ form_widget(form.Insurance.r_position) }}</td>
                    </tr>
                    <tr>
                        <td>雇主名称：{{ form_widget(form.Insurance.r_employer) }}</td>
                        <td>公司地址：{{ form_widget(form.Insurance.r_company_address) }}</td>
                        <td>公司电话：{{ form_widget(form.Insurance.r_company_tel) }}</td>
                    </tr>
                    <tr>
                        <td>{% if todo.insurance.productFile is not null %}<a href="/web{{ vich_uploader_asset(todo.insurance,'productFile') }}">下载客户详细资料</a>{% endif %}</td>
                        <td>{% if todo.insurance.insurancePlan is not null %}<a href="/web{{ vich_uploader_asset(todo.insurance,'insurancePlan') }}">下载保险建议书</a>{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
        </div>

    </div>

{% endblock %}

{% block private_js %}
    <script>
        $('input:text').attr('readonly','true');
        $('select').attr('disabled','disabled');
        $('input:radio').attr('disabled','disabled');
    </script>
{% endblock %}