{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block private_css %}
    <style>
        .todo{}
        .todo .tools{display: none;  float: right;  color: #0F5966;}
        .todo:hover .tools{display:inline-block}
    </style>
    <link rel="stylesheet" href="{{ asset('js/dataTables/dataTables.bootstrap.css') }}">
    <script src="{{ asset('js/jQuery-2.1.4.min.js') }}"></script>
{% endblock %}
{% block page_header %}保险订单管理{% endblock %}
{% block hidden_username %}{{ username }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-7" style="margin-left: 20%">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">我的订单管理</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="todo_data" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>标题</th>
                            <th>创建时间</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ul class="todo-list ui-sortable">
                        {% for todo in todos %}
                            <tr>
                                <td>{{ todo.title }}<div class="tools" style="display: inline">
                                        {% if todo.status==false %}
                                        <a href="{{ path('edittodo',{'id':todo.id}) }}"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0)" onclick="deleteToDo({{ todo.id }})"><i class="fa fa-trash-o"></i></a>
                                        {% else %}
                                        <a href="{{ path('showtodo',{'id':todo.id}) }}"><i class="fa fa-eye"></i></a>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{{ todo.createdAt|date('Y-m-d') }}</td>
                                <td>
                                    {% if todo.status==0 %}<span class="label label-warning">待办中</span>
                                    {% else %}<span class="label label-success">已完成</span>{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </ul>
                        </tbody>
                    </table>
                    <a href="{{ path('createtodo') }}"><button class="btn-microsoft">创建订单</button></a>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock %}
{% block private_js %}
    <!--DataTables-->
    <script src="{{ asset('js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables/dataTables.bootstrap.min.js') }}"></script>
    <!--SlimScroll-->
    <script src="{{ asset('js/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <!--FastClick-->
    <script src="{{ asset('js/fastclick/fastclick.min.js') }}"></script>

    <script src="{{ asset('js/demo.js') }}"></script>
    <script>
        $(function () {
            $("#todo_data").DataTable({
                "order":[[1,"desc"]]
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
    <script>
        function deleteToDo(id){
            if(confirm('你确定删除该待办事项吗？')){
                window.location.href="{{ app.request.baseurl }}/admin/deletetodo/"+id;
            }
        }
    </script>

{% endblock %}