{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block private_css %}
    <link rel="stylesheet" href="{{ asset('js/dataTables/dataTables.bootstrap.css') }}">
    <script src="{{ asset('js/jQuery-2.1.4.min.js') }}"></script>
{% endblock %}
{% block page_header %}渠道管理{% endblock %}
{% block hidden_username %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">渠道管理个人信息</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered table-striped" id="agent_admin">
                <thead>
                <tr id="admin_tr">
                    <th>姓名</th>
                    <th>用户名</th>
                    <th>属性</th>
                    <th>地区</th>
                </tr>
                </thead>
                <tbody>
                {% for agent_admin in agent_admins %}
                <tr>
                    <td>{{ agent_admin.name }}<a href="{{ path('editagentprofile',{'id':agent_admin.id}) }}"><i class="fa fa-gear"></i></a>
                        <span style="float: right" id="get_suborginate"><a href="{{ path("get_agents",{'agent_admin_id':agent_admin.id}) }}">下属代理</a></span></td>
                    <td>{{ agent_admin.username }}</td>
                    <td>{{ agent_admin.property }}</td>
                    <td>{{ agent_admin.region }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') and app.user.roles[0]!='ROLE_FUCKER' %}
            <a href="{{ path('create_user',{'role':'agent'}) }}"><button class="btn btn-microsoft">创建渠道管理或代理</button></a>
            {% endif %}
        </div>
        </div><!-- /.box-body -->
    </div>
    </div>
    </div>
{% endblock %}
{% block private_js %}
    <!--DataTables-->
    <script src="{{ asset('js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables/dataTables.bootstrap.min.js') }}"></script>
    <!--SlimScroll-->
    <script src="{{ asset('js/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <!--FastClick-->
    <script src="{{ asset('js/fastclick/fastclick.min.js') }}"></script>

    <script src="{{ asset('js/demo.js') }}"></script>
    <script>
        $(function () {
            $("#agent_admin").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
    <script>
        function deleteAgentAdmin(id){
            if(confirm('你确定删除该渠道管理吗?')){
                window.location.href="{{ app.request.baseUrl }}/admin/deleteagentadmin/"+id;
            }
        }
    </script>




{% endblock %}