{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block hidden_username %}{{ username }}{% endblock %}
{% block page_header %}{% if role=='agent' %}创建代理{% elseif role=='admin' %}创建管理员{% endif %}{% endblock %}
{% block content %}
    <div class="box box-primary" style="width: 50%;margin-left: 23%">
        <div class="box-header with-border">
            <h3 class="box-title">{% if role=='agent' %}创建代理{% elseif role=='admin' %}创建管理员{% endif %}</h3>
        </div>

        {{ form_start(form) }}
        <div class="box-body">
            {% if role=='agent' %}
            <div class="form-group" id="head">
                <label class="control-label">角色权限</label>
                <select id="roles" name="roles">
                    <option value="ROLE_AGENT_ADMIN">渠道管理</option>
                    <option value="ROLE_AGENT" id="role_agent">渠道代理</option>
                </select>
                <select id="role_agent_admin" name="role_agent_admin" style="visibility: hidden">
                    <option value>请选择上级渠道管理</option>
                    {% for agent_admin in agent_admins %}
                        <option value="{{ agent_admin.id }}">{{ agent_admin.name }}</option>
                    {% endfor %}
                </select>
            </div>
             {% else %}
                <input type="hidden" name="roles" value="ROLE_ADMIN">
             {% endif %}
            <div class="form-group">
                {{ form_widget(form.imageFile) }}
            </div>
            <div class="form-group">
                {{ form_row(form.username) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword) }}
            </div>
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
            <div class="form-group">
                {{ form_row(form.cellphone) }}
            </div>
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
            <div class="form-group">
                {{ form_row(form.company) }}
            </div>
        </div>

        <div class="box-footer">
            <button class="btn btn-primary" type="submit" id="_submit" name="_submit" >添加代理</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block private_js %}
    <script>
        $(function(){

            $(document).on('change','#roles',function(){
               if(this.value=='ROLE_AGENT'){
                   $('#role_agent_admin').attr('style','visibility:show');
               }else{
                   $('#role_agent_admin').attr('style','visibility:hidden');
                }
            })
        })
    </script>
{% endblock %}