{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block page_header %}{% if stock_id is not defined %}添加{% else %}修改{% endif %}私募基金信息{% endblock %}
{% block content %}
     {#<div class="col-lg-7" style="margin-left: 19%">#}
         <div class="box box-primary" style="width: 60%;margin-left: 18%">
             <div class="box-header with-border">
                 <h3 class="box-title">输入客户私募基金信息</h3>
                 <div class="pull-right"><a href="{{ path('productdetail',{'id':client_id}) }}" class="text-muted"><i class="fa fa-arrow-left">返回股票列表</i></a></div>
             </div>
             <div class="box-body">
                 {{ form_start(form) }}
                 {{ form_row(form.stock_name) }}
                 {{ form_row(form.buy_date) }}
                 {{ form_row(form.position) }}
                 {{ form_row(form.buying_price) }}
                 {{ form_row(form.value) }}
                 {{ form_row(form.remark) }}
             </div>
             <div class="box-footer">
                 <button class="btn btn-primary" style="padding-top: 3px;font-size:14px" type="submit">提交</button>
             </div>
         </div>
     {#</div>#}

{% endblock %}
