{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block style %}
<style type="text/css">
    .form-control{
        width:60%;display: inline-block;
    }
    .form-inline{display: inline;}

    .table tbody tr td{
        vertical-align: middle;
    }
    .table tbody tr td div{
        display: inline;
    }
    .checkbox{
        display: inline;
    }
    .radio{
        display: inline;
    }
    .radio label{
        display: inline;
    }
    .delete_button{
        font-size: 25px;
        color:red;
        font-weight: 700;
        display: inline-block;
        vertical-align: sub;
    }

</style>
{% endblock %}
{% block hidden_username %}{{ username }}{% endblock %}
{% block page_header %}保险订单提交{% endblock %}
{% block content %}
    <div class="box box-primary" style="width: 100%">
        <div class="box-header with-border">
            <h3 class="box-title">{% if client_id is not defined %}创建保险{% else %}编辑保险{% endif %}</h3>
        </div>
        <div class="box-body">
            {{ form_start(form) }}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th colspan="3" style="text-align: center;font-size:18px">投保人资料</th>
                </tr>
                </thead>
                <tbody style="vertical-align: middle">
                <tr>
                    <td>中文姓名：{{ form_widget(form.ph_name) }}</td>
                    <td>身份证号码：{{ form_widget(form.ph_id_card) }}</td>
                    <td>身份证有效期：{{ form_widget(form.ph_id_card_expired_date) }}</td>
                </tr>
                <tr>
                    <td>姓名拼音：{{ form_widget(form.ph_name_pinyin) }}</td>
                    <td>通行证号码：{{ form_widget(form.ph_traffic_permit) }}</td>
                    <td>通行证有效期：{{ form_widget(form.ph_traffic_permit_expired_date) }}</td>
                </tr>
                <tr>
                    <td>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：{{ form_widget(form.ph_gender) }}</td>
                    <td>婚姻状况：{{ form_widget(form.ph_marriage) }}</td>
                    <td>是否吸烟：{{ form_widget(form.ph_is_smoking) }}</td>
                </tr>
                <tr>
                    <td>出生日期：{{ form_widget(form.ph_born_date) }}</td>
                    <td>联络电话：{{ form_widget(form.ph_tel) }}</td>
                    <td>电子邮箱：{{ form_widget(form.ph_email) }}</td>
                </tr>
                <tr>
                    <td colspan="3">通讯地址及邮编：{{ form_widget(form.ph_address,{'attr':{'style':'width:90%'}}) }}</td>
                </tr>
                <tr>
                    <td colspan="3">身份证地址及邮编：{{ form_widget(form.ph_id_address,{'attr':{'style':'width:88%'}}) }}</td>
                </tr>
                <tr>
                    <td>身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高：{{ form_widget(form.ph_height) }}cm</td>
                    <td>体&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重：{{ form_widget(form.ph_weight) }}kg</td>
                </tr>
                <tr>
                    <td>职业（行业）：{{ form_widget(form.ph_profession) }}</td>
                    <td>职位及职责：{{ form_widget(form.ph_position) }}</td>
                </tr>
                <tr>
                    <td>雇主名称：{{ form_widget(form.ph_employer) }}</td>
                    <td>公司地址：{{ form_widget(form.ph_company_address) }}</td>
                    <td>公司电话：{{ form_widget(form.ph_company_tel) }}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-striped" style="margin-top: 20px">
                <thead>
                <tr>
                    <th colspan="3" style="text-align: center;font-size:18px">被保人资料（若投保人与被保人为同一人则不用填写）</th>
                </tr>
                </thead>
                <tbody style="vertical-align: middle">
                <tr>
                    <td>中文姓名：{{ form_widget(form.r_name) }}</td>
                    <td>身份证号码：{{ form_widget(form.r_id_card) }}</td>
                    <td>身份证有效期：{{ form_widget(form.r_id_card_expired_date) }}</td>
                </tr>
                <tr>
                    <td>姓名拼音：{{ form_widget(form.r_name_pinyin) }}</td>
                    <td>通行证号码：{{ form_widget(form.r_traffic_permit) }}</td>
                    <td>通行证有效期：{{ form_widget(form.r_traffic_permit_expired_date) }}</td>
                </tr>
                <tr>
                    <td>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：{{ form_widget(form.r_gender) }}</td>
                    <td>婚姻状况：{{ form_widget(form.r_marriage) }}</td>
                    <td>是否吸烟：{{ form_widget(form.r_is_smoking) }}</td>
                </tr>
                <tr>
                    <td>出生日期：{{ form_widget(form.r_born_date) }}</td>
                    <td>联络电话：{{ form_widget(form.r_tel) }}</td>
                    <td>电子邮箱：{{ form_widget(form.r_email) }}</td>
                </tr>
                <tr>
                    <td colspan="3">通讯地址及邮编：{{ form_widget(form.r_address,{'attr':{'style':'width:90%'}}) }}</td>
                </tr>
                <tr>
                    <td colspan="3">身份证地址及邮编：{{ form_widget(form.r_id_address,{'attr':{'style':'width:88%'}}) }}</td>
                </tr>
                <tr>
                    <td>身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高：{{ form_widget(form.r_height) }}cm</td>
                    <td>体&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重：{{ form_widget(form.r_weight) }}kg</td>
                </tr>
                <tr>
                    <td>职业（行业）：{{ form_widget(form.r_profession) }}</td>
                    <td>职位及职责：{{ form_widget(form.r_position) }}</td>
                </tr>
                <tr>
                    <td>雇主名称：{{ form_widget(form.r_employer) }}</td>
                    <td>公司地址：{{ form_widget(form.r_company_address) }}</td>
                    <td>公司电话：{{ form_widget(form.r_company_tel) }}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-striped" style="margin-top: 20px">
                <thead>
                <tr>
                    <th colspan="3" style="text-align: center;font-size:18px">保险资料</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>保险公司：{{ form_widget(form.insurance_company) }}</td>
                    <td>保险名称：{{ form_widget(form.insurance_name) }}</td>
                    <td>保单编号：{{ form_widget(form.insurance_number) }}</td>
                </tr>
                <tr>
                    <td>币种：{{ form_widget(form.currency) }}</td>
                    <td>保费(元)：{{ form_widget(form.insurance_premium) }}</td>
                    <td>保额(元)：{{ form_widget(form.sum_insured) }}</td>
                </tr>
                <tr>
                    <td>购买日期：{{ form_widget(form.buy_date) }}</td>
                    <td>已缴费年期：{{ form_widget(form.paid_years) }}</td>
                    <td>下次续费日期：{{ form_widget(form.next_pay_date) }}</td>
                </tr>
                <tr>
                    <td>缴费方式：{{ form_widget(form.payment_method) }}</td>
                    <td>银行自动付款：{{ form_widget(form.automatic_payment) }}</td>
                </tr>
                <tr>
                    <td colspan="3">保单情况：{{ form_widget(form.remark) }}</td>
                </tr>
                </tbody>
            </table>

            <div class="vich-file">
                <div class="form-group">
                    <label class="control-label" for="insurance_clientDataFile_file">客户详细资料表</label>
                    <input type="file" id="insurance_clientDataFile_file" name="insurance[clientDataFile][file]">
                    {% if clientDataDownloadPath is defined and clientDataDownloadPath is not null %}<a href="{{ clientDataDownloadPath }}" id="client_data_link">下载客户资料表</a>
                    <a href="javascript:void(0)"><span class="delete_button" id="delete_client_data">×</span></a>{% endif %}
                </div>
            </div>

            <div class="vich-file">
                <div class="form-group">
                <label class="control-label" for="insurance_insurancePlan_file">保险建议书</label>
                <input type="file" id="insurance_insurancePlan_file" name="insurance[insurancePlan][file]">
                {% if insurancePlanDownloadPath is defined and insurancePlanDownloadPath is not null %}<a href="{{ insurancePlanDownloadPath }}" id="insurance_plan_link">下载保险建议书</a>
                <a href="javascript:void(0)"><span class="delete_button" id="delete_insurance_plan">×</span></a>{% endif %}
                </div>
            </div>


            <button class="btn btn-primary" type="submit">提交</button>
            </form>
        </div>

    </div>

{% endblock %}

{% block private_js %}
{% if client_id is defined %}
<script>
   $('#todo_Insurance_client').find("option[value={{ client_id }}]").attr("selected",true);

   //delete client data file
    $(document).on('click','#delete_client_data',function(){
        if(confirm("你确定删除该附件吗?")){
            var url = "{{ path("delete_attachment",{'id':id}) }}";
            $.ajax({
                url: url,
                type: 'POST',
                data: {type:'client_data'},
                success:function(res){
                    if(res=="success"){
                        $('#client_data_link').remove();
                        $('#delete_client_data').remove();
                    }else{
                        alert('删除附件失败!');
                    }
                }
            });
        }
    });

    //delete insurance plan
   $(document).on('click','#delete_insurance_plan',function(){
       if(confirm("你确定删除该附件吗?")){
           var url = "{{ path("delete_attachment",{'id':id}) }}";
           $.ajax({
               url: url,
               type: 'POST',
               data: {type:'insurance_plan'},
               success:function(res){
                   if(res=="success"){
                       $('#insurance_plan_link').remove();
                       $('#delete_insurance_plan').remove();
                   }else{
                       alert('删除附件失败!');
                   }
               }
           });
       }
   });
</script>
    {% endif %}
{% endblock %}