{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block private_css %}
    <link rel="stylesheet" href="{{ asset('js/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}
{% block page_header %}下属代理及其客户{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12" >
            {% if if_agent==false  %}你下属没有任何代理
            {% else %}
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    {% set i=1 %}
                    {% for agent in agents %}
                    <li id="t{{ i }}"><a href="#tab_{{ i }}" data-toggle="tab">{{ agent.name }}</a></li>
                    {% set i=i+1 %}
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% set j=1 %}
                    {% set k=1 %}
                    {% for users in users_of_all_agents %}
                    <div class="tab-pane" id="tab_{{ j }}">
                        <div class="box-body">
                            <table id="products_list{{ k }}" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>姓名</th>
                                    <th>手机号码</th>
                                    <th>会员状态</th>
                                    <th>会员级别</th>
                                    <th>已购买产品</th>
                                </tr>
                                </thead>
                                {% for user in users %}
                                    <tr>
                                        <td><a href="{{ path('productdetail',{'id':user.id}) }}" target="_blank">{{ user.username }}</a></td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.cellphone }}</td>
                                        <td>
                                            {% if user.enabled==true %}
                                            <span class="label label-success">已审核</span>
                                            {% else %}
                                            <button class="btn btn-warning" style="padding: 1px 5px;font-size:13px"><b>未审核</b></button>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user.roles[0]=='ROLE_REGULAR' %}普通会员
                                            {% elseif user.roles[0]=='ROLE_GOLDEN' %}金卡会员
                                            {% elseif user.roles[0]=='ROLE_DIAMOND' %}钻石会员
                                            {% endif %}
                                        </td>
                                        <td>
                                            <input style="margin-left: 3%" type="checkbox" {% if user.getIfStockPurchased()==1 %}checked{% endif %} onclick="return false;">股票
                                            <input style="margin-left: 3%" type="checkbox" {% if user.getIfInsurancePurchased()==1 %}checked{% endif %} onclick="return false;">保险
                                            <input style="margin-left: 3%" type="checkbox" {% if user.getIfFundPurchased()==1 %}checked{% endif %} onclick="return false;">环球基金
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {% set k=k+1 %}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                        {% set j=j+1 %}
                    {% endfor %}
                </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block private_js %}
    <!--DataTables-->
    <script src="{{ asset('js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('js/fastclick/fastclick.min.js') }}"></script>
    <script src="{{ asset('js/demo.js') }}"></script>
    <script>
        $(function () {
            $("#products_list1").DataTable();
            $('#products_list2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
            $('#products_list3').DataTable();
            $('#products_list4').DataTable();
            $('#t1').addClass('active');
            $('#tab_1').attr('class','tab-pane active');
        });
    </script>
    <script>
        function deletestock(id){
            if(confirm('你确定删除该股票信息吗？')){
                window.location.href={{ app.request.baseurl }}"/admin/delete_stock_2/"+id;
            }
        }

        function deleteinsurance(id){
            if(confirm('你确定删除该保险信息吗？')){
                window.location.href={{ app.request.baseurl }}"/admin/delete_insurance_2/"+id;
            }
        }

        function deleteuser(id){
            if(confirm('你确定删除该用户吗？')){
                window.location.href={{ app.request.baseurl }}"/admin/delete_user/"+id;
            }
        }


    </script>
{% endblock %}