{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block private_css %}
    <link rel="stylesheet" href="{{ asset('js/dataTables/dataTables.bootstrap.css') }}">
    <script src="{{ asset('js/jQuery-2.1.4.min.js') }}"></script>
{% endblock %}
{% block hidden_username %}{{ username }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">客户个人信息</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>姓名</th>
                    <th>手机号码</th>
                    <th>会员状态</th>
                    <th>已购买产品</th>

                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="{{ path('productdetail',{'id':user.id}) }}" target="_blank">{{ user.username }}</a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}|<a href="{{ path('edituserprofile',{'id':user.id}) }}"><i class="fa fa-wrench"></i></a>{% endif %}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.cellphone }}</td>
                    <td>
                        {% if user.enabled==1 %}
                        <span class="label label-success">已审核</span>
                        {% else %}
                        <button id="{{ user.id }}" value="{{ user.id }}" class="btn btn-warning" style="padding: 1px 5px;font-size:13px"><b>未审核</b></button>
                            <script>
                                $(document).ready(function(){
                                    $("#{{ user.id }}").click(function(){
                                        $.ajax({
                                            type:"POST",
                                            url:"{{ app.request.baseurl }}/admin/setenabled/"+$("#{{ user.id }}").val(),
                                            success:function(data){
                                                var $verified = "<span class='label label-success'>已审核</span>";
                                                    $("#{{ user.id }}").replaceWith($verified);

                                             }
                                        });
                                    });
                                });
                            </script>
                        {% endif %}
                    </td>
                    <td>
                        <input style="margin-left: 3%" type="checkbox" {% if user.getIfStockPurchased()==1 %}checked{% endif %} onclick="return false;">股票
                        <input style="margin-left: 3%" type="checkbox" {% if user.getIfInsurancePurchased()==1 %}checked{% endif %} onclick="return false;">保险
                        <input style="margin-left: 3%" type="checkbox" {% if user.getIfFundPurchased()==1 %}checked{% endif %} onclick="return false;">环球基金
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div>
    </div>
    </div>
{% endblock %}
{% block page_header %}{% if is_granted('ROLE_SUPER_ADMIN') %}所有用户{% else %}我的客户{% endif %}{% endblock %}
{% block private_js %}
    <!--DataTables-->
    <script src="{{ asset('js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables/dataTables.bootstrap.min.js') }}"></script>
    <!--SlimScroll-->
    <script src="{{ asset('js/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <!--FastClick-->
    <script src="{{ asset('js/fastclick/fastclick.min.js') }}"></script>

    <script src="{{ asset('js/demo.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>

{% endblock %}