{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block private_css %}
    <link rel="stylesheet" href="{{ asset('js/dataTables/dataTables.bootstrap.css') }}">
    <script src="{{ asset('js/jQuery-2.1.4.min.js') }}"></script>
{% endblock %}
{% block page_header %}所有客户{% endblock %}
{% block hidden_username %}{{ username }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">客户个人信息</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>手机号码</th>
                    <th>客户级别</th>
                    <th>已购买产品</th>
                    <th>注册时间</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                <tr>
                    <td><a href="{{ path('productdetail',{'id':client.id}) }}" target="_blank">{{ client.name }}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            |<a href="{{ path('editclientprofile',{'id':client.id}) }}"><i class="fa fa-wrench"></i></a>
                            <a href="javascript:void(0)" onclick="deleteClient({{ client.id }})"><i class="fa fa-remove" style="color:darkred"></i></a>
                        {% endif %}
                    </td>
                    <td>{{ client.cellphone }}</td>
                    <td>
                            {% if client.vip=='普通会员' %}<span class="label bg-aqua">普通会员</span>
                            {% elseif client.vip=='金卡会员' %}<span class="label bg-blue">金卡会员</span>
                            {% elseif client.vip=='钻石会员' %}<span class="label bg-purple">钻石会员</span>
                            {% endif %}
                    </td>
                    <td>
                        <input style="margin-left: 3%" type="checkbox" {% if client.getIfStockPurchased()==1 %}checked{% endif %} onclick="return false;">股票
                        <input style="margin-left: 3%" type="checkbox" {% if client.getIfInsurancePurchased()==1 %}checked{% endif %} onclick="return false;">保险
                        <input style="margin-left: 3%" type="checkbox" {% if client.getIfFundPurchased()==1 %}checked{% endif %} onclick="return false;">环球基金
                    </td>
                    <td>{{ client.createdAt|date('Y-m-d') }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('createclient') }}"><button class="btn btn-primary">新客户</button></a>
            {% endif %}
        </div><!-- /.box-body -->
    </div>
    </div>
    </div>
{% endblock %}
{% block private_js %}
    <!--DataTables-->
    <script src="{{ asset('js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables/dataTables.bootstrap.min.js') }}"></script>
    <!--SlimScroll-->
    <script src="{{ asset('js/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <!--FastClick-->
    <script src="{{ asset('js/fastclick/fastclick.min.js') }}"></script>

    <script src="{{ asset('js/demo.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "order":[[4,"desc"]]
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
    <script>  /*审核用户*/
        $(document).on('click','#set_enable',function(){
                var $user_id = $(this).val();
                var mythis = $(this);
                $.ajax({
                    type:"POST",
                    url:"{{ app.request.baseurl }}/admin/setenabled/"+$user_id,
                    success:function(){
                        var $verified = "<span class='label label-success' id='set_diable' value=" + $user_id +">已审核</span>";
                        mythis.replaceWith($verified);

                    }
                });
        });
    </script>
    <script>
        function deleteClient(id){
            if(confirm('你确定删除该客户?')){
                window.location.href="{{ app.request.baseUrl }}/admin/deleteclient/"+id;
            }
        }
    </script>

{% endblock %}