{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block if_collapsed %}sidebar-collapse{% endblock %}
{% block private_css %}
    <link rel="stylesheet" href="{{ asset('js/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}
{% block page_header %}{{ client_name }}购买产品详情{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_0" data-toggle="tab">客户详细信息</a></li>
                    {% if is_granted('ROLE_ADMIN') %}<li><a href="#tab_4" data-toggle="tab">期货交易日结单</a></li>{% endif %}
                    <li><a href="#tab_1" data-toggle="tab">私募基金</a></li>
                    <li><a href="#tab_2" data-toggle="tab">保险</a></li>
                    <li><a href="#tab_3" data-toggle="tab">环球基金</a></li>
                    {% if agent.roles[0]!='ROLE_AGENT_ADMIN' and app.user.roles[0]!='ROLE_FUCKER' %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            产品资料上传 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation">
                                {{ form_start(upload_form,{'attr':{'style':'margin-left:10px'}}) }}
                                {{ form_widget(upload_form.productFile) }}
                                <button type="submit">提交</button>
                                {{ form_end(upload_form) }}
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            添加产品信息 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation"><a href="{{ path('addstocks',{'id':user_id}) }}" role="menuitem" tabindex="-1">添加私募基金信息</a></li>
                            <li role="presentation"><a href="{{ path('addinsurance',{'id':user_id}) }}" role="menuitem" tabindex="-1">添加保险信息</a></li>
                            <li role="presentation"><a href="#" role="menuitem" tabindex="-1">添加环球基金信息</a></li>
                        </ul>
                    </li>
                    <li class="pull-right"><a href="{{ path('clientslist') }}" class="text-muted"><i class="fa fa-arrow-left">返回客户列表</i></a></li>
                    {% endif %}
                    {% if is_granted('ROLE_AGENT_ADMIN') %}
                    <li class="pull-right"><a href="{{ path('clientsofagents') }}" class="text-muted"><i class="fa fa-arrow-left">返回代理列表</i></a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_0">
                        <div class="box-body">
                            <table id="user_data" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>手机号码</th>
                                    <th>公司电话</th>
                                    <th>电子邮箱</th>
                                    <th>单位全称</th>
                                    <th>单位地址</th>
                                    <th>会员级别</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>{{ client_data.cellphone }}</td>
                                    <td>{{ client_data.companyTel }}</td>
                                    <td>{{ client_data.email }}</td>
                                    <td>{{ client_data.company }}</td>
                                    <td>{{ client_data.province }}{{ client_data.city }}{{ client_data.district }}{% if client_data.address_detail is defined %}{{ client_data.address_detail }}{% endif %}</td>
                                    <td>{% if client_data.vip=='普通会员' %}普通会员
                                        {% elseif client_data.vip=='金卡会员' %}<b style="color:#f39c12">金卡会员</b>
                                        {% elseif client_data.vip=='钻石会员' %}<b style="color:#c7254e">钻石会员</b>
                                        {% elseif client_data.vip=='渠道代理' %}<b style="color:darkblue">渠道代理</b>{% endif %}
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="tab-pane" id="tab_4">
                        <div class="box-body">
                            <table id="products_list4" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>产品</th>
                                    <th>点击查看</th>
                                    {% if app.user.roles[0]!='ROLE_FUCKER' %}
                                    <th>操作</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                {% for statement in statements %}
                                <tr>
                                    <td>{{ statement.getBalanceDate|date('Y-m-d') }}</td>
                                    <td>期货</td>
                                    <td><a href="{{ path('stm_detail',{'id':statement.id}) }}"><button class="btn btn-instagram">查看详情</button></a></td>
                                    {% if app.user.roles[0]!='ROLE_FUCKER' %}
                                    <td>
                                        <button class="btn btn-dropbox" style="margin-right:10px"  data-toggle="modal" data-target="#statement_form" data-whatever="@mdo" id="reupload" value="{{ statement.id }}">重新上传</button>
                                        <button class="btn btn-danger" onclick="delete_statement({{ statement.id }})">删除</button>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </table>
                            {% if app.user.roles[0]!='ROLE_FUCKER' %}
                            <form name="statement" method="post" action="{{ path('upload_statement',{'id':user_id}) }}" enctype="multipart/form-data">
                                <div class="vich-file">
                                    <div class="form-group">
                                        <label class="control-label required" for="statement_statement_file_file">上传日结单</label>
                                        <input type="file" id="statement_statement_file_file" name="statement[statement_file][file]" required="required">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </form>
                            {% endif %}
                        </div><!-- /.box-body -->
                    </div>
                    {% endif %}
                    <div class="tab-pane" id="tab_1">
                        <div class="box-body">
                            <table id="products_list1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>基金名称</th>
                                    <th>认购日期</th>
                                    <th>认购份额</th>
                                    <th>认购金额</th>
                                    <th>本月净值</th>
                                    <th>当前状态</th>
                                    {% if is_granted('ROLE_ADMIN') and app.user.roles[1]!='ROLE_FUCKER' %}
                                    <th>修改</th>
                                    {% endif %}

                                </tr>
                                </thead>
                                {% for data in stock_data %}
                                <tr>
                                    <td>{{ data.stockName }}</td>
                                    <td>{{ data.buyDate|date('Y-m-d') }}</td>
                                    <td>{{ data.position }}</td>
                                    <td>{{ data.buyingPrice }}</td>
                                    <td>{{ data.value }}</td>
                                    <td><span class="label label-success">买入</span></td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a href="{{ path('editstock',{'id':data.getId()}) }}"><button class="btn btn-facebook">编辑</button></a>
                                        <a href="javascript:void(0)" onclick="deletestock({{ data.getId() }})"><button class="btn btn-adn">删除</button></a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                <thead><tr><th>合计盈亏:  元</th></tr></thead>

                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                    <div class="tab-pane" id="tab_2">
                        <div class="box-body">
                            <table id="products_list2" class="table table-bordered table-striped" style="font-size: 14px">
                                <thead>
                                <tr>
                                    <th>保险公司名称</th>
                                    <th>计划名称</th>
                                    <th>保单编号</th>
                                    <th>购买日期</th>
                                    <th>投保人</th>
                                    <th>被保人</th>
                                    <th>币种</th>
                                    <th>保费</th>
                                    <th>保额</th>
                                    <th>出生日期</th>
                                    <th>已缴费年期</th>
                                    <th>下次续费日期</th>
                                    <th>资料下载</th>
                                    {#<th>状态</th>#}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <th>修改</th>
                                    {% endif %}

                                </tr>
                                </thead>
                                {% for data in insurance_data %}
                                    <tr>
                                        <td>{{ data.insuranceCompany }}</td>
                                        <td>{{ data.insuranceName }}</td>
                                        <td>{{ data.insuranceNumber }}</td>
                                        <td>{% if data.buyDate is not null %}{{ data.buyDate|date('Y-m-d') }}{% endif %}</td>
                                        <td>{{ data.getPhName() }}</td>
                                        {% if data.getRName is not null %}
                                        <td>{{ data.getRName() }}</td>
                                        {% else %}
                                        <td>{{ data.getPhName() }}</td>
                                        {% endif %}
                                        <td>{{ data.currency }}</td>
                                        <td>{{ data.insurancePremium }}</td>
                                        <td>{{ data.sumInsured }}</td>
                                        {% if data.RBornDate is null %}
                                        <td>{{ data.PhBornDate|date('Y-m-d') }}</td>
                                        {% else %}
                                        <td>{{ data.RBornDate|date('Y-m-d') }}</td>
                                        {% endif %}
                                        <td>{{ data.getPaidYears() }}</td>
                                        <td>{% if data.NextPayDate is not null %}{{ data.NextPayDate|date('Y-m-d') }}{% endif %}</td>
                                       {# <td>
                                            {% if data.Verified==true %}<span class="label label-success">已审核</span>
                                            {% else %}<span class="label label-warning">审核中</span>{% endif %}
                                        </td>#}
                                        <td>{% if data.clientDataName !="" %}<a href="{{ app.request.baseUrl }}{{ vich_uploader_asset(data,'clientDataFile') }}">下载</a>{% endif %}</td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <td>
                                                <a href="{{ path('editinsurance',{'id':data.getId()}) }}"><button class="btn btn-facebook">编辑</button></a>
                                                <a href="javascript:void(0)" onclick="deleteinsurance({{ data.getId() }})"><button class="btn btn-adn">删除</button></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <div class="box-body">
                            <table id="products_list3" class="table table-bordered table-striped" style="font-size: 14px">
                                <thead>
                                <tr>
                                    <th>保险公司名称</th>
                                    <th>计划名称</th>
                                    <th>保单编号</th>
                                    <th>购买日期</th>
                                    <th>投保人</th>
                                    <th>被保人</th>
                                    <th>币种</th>
                                    <th>保费</th>
                                    <th>保额</th>
                                    <th>出生日期</th>
                                    <th>已缴费年期</th>
                                    <th>下次续费日期</th>
                                    <th>资料下载</th>
                                    {#<th>状态</th>#}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <th>修改</th>
                                    {% endif %}

                                </tr>
                                </thead>
                                {% for data in insurance_data %}
                                    <tr>
                                        <td>{{ data.insuranceCompany }}</td>
                                        <td>{{ data.insuranceName }}</td>
                                        <td>{{ data.insuranceNumber }}</td>
                                        <td>{% if data.buyDate is not null %}{{ data.buyDate|date('Y-m-d') }}{% endif %}</td>
                                        <td>{{ data.getPhName() }}</td>
                                        {% if data.getRName is not null %}
                                            <td>{{ data.getRName() }}</td>
                                        {% else %}
                                            <td>{{ data.getPhName() }}</td>
                                        {% endif %}
                                        <td>{{ data.currency }}</td>
                                        <td>{{ data.insurancePremium }}</td>
                                        <td>{{ data.sumInsured }}</td>
                                        {% if data.RBornDate is null %}
                                            <td>{{ data.PhBornDate|date('Y-m-d') }}</td>
                                        {% else %}
                                            <td>{{ data.RBornDate|date('Y-m-d') }}</td>
                                        {% endif %}
                                        <td>{{ data.getPaidYears() }}</td>
                                        <td>{% if data.NextPayDate is not null %}{{ data.NextPayDate|date('Y-m-d') }}{% endif %}</td>
                                        {# <td>
                                             {% if data.Verified==true %}<span class="label label-success">已审核</span>
                                             {% else %}<span class="label label-warning">审核中</span>{% endif %}
                                         </td>#}
                                        <td>{% if data.clientDataName !="" %}<a href="{{ app.request.baseUrl }}{{ vich_uploader_asset(data,'clientDataFile') }}">下载</a>{% endif %}</td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <td>
                                                <a href="{{ path('editinsurance',{'id':data.getId()}) }}"><button class="btn btn-facebook">编辑</button></a>
                                                <a href="javascript:void(0)" onclick="deleteinsurance({{ data.getId() }})"><button class="btn btn-adn">删除</button></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
        </div>
    </div>

        <div class="modal modal-primary fade" id="statement_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" style="margin-top: 100px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">修改日结单</h4>
                    </div>
                    <div class="modal-body">
                        <form id="edit_statement" name="statement" method="post" action enctype="multipart/form-data">
                            <div class="vich-file">
                                <div class="form-group">
                                    <label class="control-label required" for="statement_statement_file_file">上传日结单</label>
                                    <input type="file" id="statement_statement_file_file" name="statement[statement_file][file]" required="required">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline" id="edit_stm_submit">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

{% endblock %}

{% block private_js %}
    <!--DataTables-->
    <script src="{{ asset('js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('js/fastclick/fastclick.min.js') }}"></script>
    <script src="{{ asset('js/demo.js') }}"></script>
    <script>
        $(function () {
            $("#products_list1").DataTable();
            $("#products_list3").DataTable();
            $('#products_list2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
            $('#products_list3').DataTable();
            $('#products_list4').DataTable();
        });
    </script>
    <script>
        function deletestock(id){
            if(confirm('你确定删除该股票信息吗？')){
                window.location.href="{{ app.request.baseurl }}/admin/delete_stock/"+id;
            }
        }

        function deleteinsurance(id){
            if(confirm('你确定删除该保险信息吗？')){
                window.location.href="{{ app.request.baseurl }}/admin/delete_insurance_2/"+id;
            }
        }

    </script>
    <script>
        $(document).on('click','#reupload',function(){
           var $stm_id = $('#reupload').val();
            $('#edit_statement').attr('action','{{ app.request.baseUrl }}/admin/edit_statement/'+$stm_id);
        });

        $(document).on('click','#edit_stm_submit',function(){
            $('#edit_statement').submit();
        });

        function delete_statement(id){
            if(confirm('确定删除该日结单?')){
                window.location.href='{{ app.request.baseUrl }}/admin/delete_statement/'+id;
            }
        }
    </script>
{% endblock %}